In [197]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from sklearn.preprocessing import LabelEncoder

from nltk.corpus import stopwords
stops = set(stopwords.words("english"))

from nltk.stem import PorterStemmer
ps = PorterStemmer()

from nltk.tokenize import word_tokenize
from googletrans import Translator

import re
import time
import string
from urllib.parse import unquote_plus

In [2]:
# Import dataset
df = pd.read_excel('News Title.xls', index_col='No')

# Preview dataset
df.head()

                                           News Title       Category
No
1   Google+ rolls out 'Stories' for tricked out ph...     Technology
2                     Dov Charney's Redeeming Quality       Business
3    White God adds Un Certain Regard to the Palm Dog  Entertainment
4   Google shows off Androids for wearables, cars,...     Technology
5          China May new bank loans at 870.8 bln yuan       Business

In [3]:
# Check the distribution of target label (Category)
df['Category'].value_counts()

Entertainment    23961
Business         17707
Technology       16776
Medical           7091
Name: Category, dtype: int64

In [4]:
# Copy the original data into another variable to be processed
processed_df = df.copy()

# Preview processed dataframe
processed_df.head()

                                           News Title       Category
No
1   Google+ rolls out 'Stories' for tricked out ph...     Technology
2                     Dov Charney's Redeeming Quality       Business
3    White God adds Un Certain Regard to the Palm Dog  Entertainment
4   Google shows off Androids for wearables, cars,...     Technology
5          China May new bank loans at 870.8 bln yuan       Business

In [5]:
# Transform categorical label into numerical for analytics
label_encoder = LabelEncoder()
processed_df['num_Category'] = label_encoder.fit_transform(df['Category'])

# All categories which are encoded by label_encoder
label_encoder.classes_

array(['Business', 'Entertainment', 'Medical', 'Technology'], dtype=object)

In [6]:
# Preview transformed category in dataframe
processed_df.head()

,News Title,Category,num_Category
No,,,
1,Google+ rolls out 'Stories' for tricked out ph...,Technology,3
2,Dov Charney's Redeeming Quality,Business,0
3,White God adds Un Certain Regard to the Palm Dog,Entertainment,1
4,"Google shows off Androids for wearables, cars,...",Technology,3
5,China May new bank loans at 870.8 bln yuan,Business,0

In [7]:
# Describe News Title
processed_df['News Title'].describe()

count                                                 65535
unique                                                64981
top       The article requested cannot be found! Please ...
freq                                                     21
Name: News Title, dtype: object

In [8]:
# Get 10 most frequent data based on 'News Title'
processed_df['News Title'].value_counts().head(10)

The article requested cannot be found! Please refresh your browser or go back  ...    21
Posted by Shoaib-ur-Rehman Siddiqui                                                   11
Posted by Imaduddin                                                                   11
Business Highlights                                                                   10
Posted by Parvez Jabri                                                                10
Business Wire                                                                          7
What you need to know before markets open                                              7
(click the phrases to see a list)                                                      7
Posted by Muhammad Iqbal                                                               6
PR Newswire                                                                            6
Name: News Title, dtype: int64

Based on the preview on 10 most frequent data, we can see that it is a lot of 'odd' titles which do not make any sense to categorize it into any of the category semantically.

In [9]:
# Look up the dataset with the most frequent 'News Title'
news_title_mode = processed_df['News Title'].mode()[0]
processed_df[processed_df['News Title'] == news_title_mode]

,News Title,Category,num_Category
No,,,
990,The article requested cannot be found! Please ...,Entertainment,1
4321,The article requested cannot be found! Please ...,Entertainment,1
4426,The article requested cannot be found! Please ...,Entertainment,1
5100,The article requested cannot be found! Please ...,Entertainment,1
5250,The article requested cannot be found! Please ...,Entertainment,1
9012,The article requested cannot be found! Please ...,Entertainment,1
12376,The article requested cannot be found! Please ...,Entertainment,1
13256,The article requested cannot be found! Please ...,Entertainment,1
15280,The article requested cannot be found! Please ...,Entertainment,1
17183,The article requested cannot be found! Please ...,Entertainment,1
19624,The article requested cannot be found! Please ...,Entertainment,1
21093,The article requested cannot be found! Please ...,Entertainment,1
32176,The article requested cannot be found! Please ...,Entertainment,1
35224,The article requested cannot be found! Please ...,Entertainment,1
36343,The article requested cannot be found! Please ...,Entertainment,1
37628,The article requested cannot be found! Please ...,Entertainment,1
39359,The article requested cannot be found! Please ...,Entertainment,1
42096,The article requested cannot be found! Please ...,Entertainment,1
57245,The article requested cannot be found! Please ...,Technology,3
59070,The article requested cannot be found! Please ...,Entertainment,1
62124,The article requested cannot be found! Please ...,Entertainment,1

In [10]:
# Remove the data as it will be a noise for building our model
processed_df = processed_df[processed_df['News Title'] != news_title_mode]
processed_df['News Title'].value_counts().head(10)

Posted by Imaduddin                          11
Posted by Shoaib-ur-Rehman Siddiqui          11
Business Highlights                          10
Posted by Parvez Jabri                       10
(click the phrases to see a list)             7
What you need to know before markets open     7
Business Wire                                 7
10 Things to Know for Today                   6
Posted by Muhammad Iqbal                      6
PR Newswire                                   6
Name: News Title, dtype: int64

Back on to the most frequent 'News Title', we can see that there are still several 'title' with similarities and do not correlate to any of the categories.

In [11]:
# Look up the dataset which have 'News Title' starts with 'Posted by'
processed_df[processed_df['News Title'].str.startswith('Posted')].sort_values(by='News Title')

                                  News Title       Category  num_Category
No
45334                   Posted by Abdul Ahad       Business             0
15057                    Posted by Imaduddin       Business             0
29925                    Posted by Imaduddin       Business             0
41840                    Posted by Imaduddin       Business             0
19464                    Posted by Imaduddin       Business             0
18987                    Posted by Imaduddin       Business             0
14872                    Posted by Imaduddin       Business             0
41446                    Posted by Imaduddin       Business             0
56593                    Posted by Imaduddin       Business             0
8346                     Posted by Imaduddin  Entertainment             1
56634                    Posted by Imaduddin       Business             0
50882                    Posted by Imaduddin       Business             0
11415               Posted by Muhammad Iqbal       Business             0
53166               Posted by Muhammad Iqbal       Business             0
41465               Posted by Muhammad Iqbal       Business             0
50050               Posted by Muhammad Iqbal       Business             0
49683               Posted by Muhammad Iqbal       Business             0
42725               Posted by Muhammad Iqbal       Business             0
41911                 Posted by Parvez Jabri        Medical             2
58142                 Posted by Parvez Jabri     Technology             3
60679                 Posted by Parvez Jabri       Business             0
3333                  Posted by Parvez Jabri       Business             0
30701                 Posted by Parvez Jabri       Business             0
9361                  Posted by Parvez Jabri       Business             0
4151                  Posted by Parvez Jabri       Business             0
22771                 Posted by Parvez Jabri       Business             0
65108                 Posted by Parvez Jabri       Business             0
24659                 Posted by Parvez Jabri       Business             0
42159    Posted by Shoaib-ur-Rehman Siddiqui       Business             0
22191    Posted by Shoaib-ur-Rehman Siddiqui       Business             0
20976    Posted by Shoaib-ur-Rehman Siddiqui       Business             0
20790    Posted by Shoaib-ur-Rehman Siddiqui       Business             0
9874     Posted by Shoaib-ur-Rehman Siddiqui       Business             0
64427    Posted by Shoaib-ur-Rehman Siddiqui       Business             0
53384    Posted by Shoaib-ur-Rehman Siddiqui       Business             0
8800     Posted by Shoaib-ur-Rehman Siddiqui       Business             0
5622     Posted by Shoaib-ur-Rehman Siddiqui     Technology             3
4674     Posted by Shoaib-ur-Rehman Siddiqui       Business             0
58934    Posted by Shoaib-ur-Rehman Siddiqui       Business             0
53833               Posted on 29th June 2014  Entertainment             1
42516  Posted on April 14th, 2014 at 5:58 am  Entertainment             1
29754            Posted yesterday at 11:39am     Technology             3

In [12]:
# Remove those non relevant data
processed_df = processed_df[~processed_df['News Title'].str.startswith('Posted by')]

# Preview the remaining duplicate 'News Title' with the frequencies
news_title_value_counts = processed_df['News Title'].value_counts()
duplicate_news_title_counts = news_title_value_counts[news_title_value_counts > 1]
duplicate_news_title_counts

Business Highlights                                                                   10
What you need to know before markets open                                              7
Business Wire                                                                          7
(click the phrases to see a list)                                                      7
PR Newswire                                                                            6
10 Things to Know for Today                                                            6
Business briefs                                                                        5
The Daily Dish                                                                         5
Change text size for the story                                                         5
India Morning Call-Global Markets                                                      5
Today's Dow Jones Industrial Average DJIA, Nasdaq, S&P 500 stock market  ...           4
Sara Stewart                                                                           4
Most Popular Stories                                                                   4
Update on the latest in business:                                                      4
On topic: Tech news to know now                                                        4
Get the Most Popular Beauty World News Stories in a Weekly Newsletter                  4
Perez Recommends                                                                       4
International markets roundup                                                          4
Share this on:                                                                         4
GM recalls 824000 more cars over ignition problem                                      3
Visionary or looney? Zuckerberg on spending spree                                      3
Morning Market Movers                                                                  3
Kim And Kanye Marry In '£11m' Italian Wedding                                          3
'Young' blood injections help aging mice get stronger, exercise longer and  ...        3
Welcome to the new 10News.com                                                          3
Nokia to be renamed Microsoft Mobile                                                   3
Elisabeth Vincentelli                                                                  3
Shigeru Ban Wins Pritzker Prize                                                        3
Samsung Galaxy S5 makes global debut                                                   3
Amazon snares classic shows in deal with HBO                                           3
                                                                                      ..
Is the New Samsung Galaxy S an iPad Killer?                                            2
Gas prices in DC metro area up 6 cents from last week, now 1 penny above  ...          2
Starbucks to offer wireless recharging                                                 2
Seacrest: Kasem's death a loss for radio listeners                                     2
Daily FX Analysis                                                                      2
Aronofsky's 'Noah' is everything — except boring                                       2
West Antarctic ice sheet collapse 'unstoppable': NASA                                  2
The 5 Skin Cancer Mistakes We All Make                                                 2
Review: 'Guardians' is irreverent but not enough                                       2
Luxury group Mulberry announces resignation of CEO                                     2
'Daily Mail' apologizes to George Clooney                                              2
Yellen says Fed examining additional bank rules                                        2
Apple 'To Buy Dr Dre's Beats Firm For $3.2bn'                                          2
23 Awesome Photos Of Musicians Performing At Coachella                                 2
Google To Launch A low-cost Phone In India                                             2
Midday index, ETF option volumes                                                       2
Stock futures drift after jobless claims rise                                          2
Ghana: Quarantined US citizen tested for Ebola                                         2
Benzinga's Top #PreMarket Gainers                                                      2
Air bag recall spreads to more automakers as BMW, Ford, Chrysler join 4 Japan  ...     2
Storms Threaten 2nd Launch Try to Space Station                                        2
Jack Gold: Microsoft re-Surfaces the Pro, for the enterprise                           2
Briefcase                                                                              2
Is Facebook's $2B investment intelligent?                                              2
Twitter assuages growth concerns for now as shares soar 35 percent                     2
Windows 8 banned from government computers                                             2
Storm Shield is a life-saving app that is like a NOAA Emergency Weather Radio  ...     2
Wall Street Breakfast: Must-Know News                                                  2
US existing home sales fall, hit 18-month low                                          2
One in 25 patients has an infection acquired during hospital stay, CDC says            2
Name: News Title, Length: 420, dtype: int64

In [13]:
# Expand all the duplicated 'News Title'
duplicated_news_title_df = processed_df[processed_df['News Title'].isin(duplicate_news_title_counts.keys())].sort_values(by='News Title')
duplicated_news_title_df

,News Title,Category,num_Category
No,,,
52578,'22 Jump Street' beats 'Dragon 2' at weekend b...,Entertainment,1
61114,'22 Jump Street' beats 'Dragon 2' at weekend b...,Entertainment,1
40766,'22 Jump Street': The verdict is in,Entertainment,1
31235,'22 Jump Street': The verdict is in,Entertainment,1
24921,'Candy Crush Saga' maker nears IPO that could ...,Business,0
46378,'Candy Crush Saga' maker nears IPO that could ...,Business,0
56684,'Chicken from hell' sheds new light on bird-li...,Technology,3
53278,'Chicken from hell' sheds new light on bird-li...,Technology,3
41554,'Daily Mail' apologizes to George Clooney,Entertainment,1
48582,'Daily Mail' apologizes to George Clooney,Entertainment,1
227,'Game Of Thrones' Actor Is Retiring After Sund...,Entertainment,1
11826,'Game Of Thrones' Actor Is Retiring After Sund...,Entertainment,1
16337,'Goonies' director: We're doing a sequel,Entertainment,1
22148,'Goonies' director: We're doing a sequel,Entertainment,1
42557,'Guardians' blasts Marvel in a different direc...,Entertainment,1
28617,'Guardians' blasts Marvel in a different direc...,Entertainment,1
58353,'How I Met Your Mother' finale: Here's hoping ...,Entertainment,1
53098,'How I Met Your Mother' finale: Here's hoping ...,Entertainment,1
11354,'Justice' is served with another helping of Su...,Entertainment,1
42462,'Justice' is served with another helping of Su...,Entertainment,1
54095,'Mad Men' all about smart women,Entertainment,1
38825,'Mad Men' all about smart women,Entertainment,1
1413,'Mad Men' season opener recap: Don Draper isn'...,Entertainment,1
64355,'Mad Men' season opener recap: Don Draper isn'...,Entertainment,1
41971,'Modern Family' wins Emmy for best comedy series,Entertainment,1
27746,'Modern Family' wins Emmy for best comedy series,Entertainment,1
64924,'Reading Rainbow' gets hand from Seth MacFarlane,Entertainment,1
50928,'Reading Rainbow' gets hand from Seth MacFarlane,Entertainment,1
42581,'Rolf Harris put hands in my pants',Entertainment,1
22890,'Rolf Harris put hands in my pants',Entertainment,1
...,...,...,...
3697,What celebrity divorces tell us about 'having ...,Entertainment,1
16182,What you need to know before markets open,Business,0
9281,What you need to know before markets open,Business,0
45821,What you need to know before markets open,Business,0
3050,What you need to know before markets open,Business,0
16765,What you need to know before markets open,Business,0
61061,What you need to know before markets open,Business,0
58951,What you need to know before markets open,Business,0
26451,White House pushes climate change solutions th...,Business,0
55052,White House pushes climate change solutions th...,Business,0
51869,Why Google Buying Twitch Is An Unsettling Thought,Technology,3
24234,Why Google Buying Twitch Is An Unsettling Thought,Technology,3
45859,Why Is Johnny Depp Wearing a 'Chick's' Diamond...,Entertainment,1
48306,Why Is Johnny Depp Wearing a 'Chick's' Diamond...,Entertainment,1
56986,Windows 8 banned from government computers,Technology,3
26726,Windows 8 banned from government computers,Technology,3
23910,World's largest water reservoir found deep in ...,Technology,3
4858,World's largest water reservoir found deep in ...,Technology,3
34975,Written by Press Release,Business,0
34637,Written by Press Release,Technology,3
49688,"Yahoo: Focus on Alibaba, display business",Technology,3
46746,"Yahoo: Focus on Alibaba, display business",Business,0
64692,Yellen says Fed examining additional bank rules,Business,0
2836,Yellen says Fed examining additional bank rules,Business,0
39488,"Yellen, Plosser offer contrasting visions of F...",Business,0
65046,"Yellen, Plosser offer contrasting visions of F...",Business,0
56767,need2know: Flat local open ahead,Business,0
61676,need2know: Flat local open ahead,Business,0
13404,복사 URL 줄이기 레이어 닫기,Entertainment,1
38461,복사 URL 줄이기 레이어 닫기,Entertainment,1

In [14]:
# Grouping all the duplicated 'News Title' and look up to all the value of the 'Category'
duplicated_news_title_with_category_df = duplicated_news_title_df.groupby('News Title')['Category'].apply(lambda x: x.unique()).reset_index()
duplicated_news_title_with_category_df

,News Title,Category
0,'22 Jump Street' beats 'Dragon 2' at weekend b...,[Entertainment]
1,'22 Jump Street': The verdict is in,[Entertainment]
2,'Candy Crush Saga' maker nears IPO that could ...,[Business]
3,'Chicken from hell' sheds new light on bird-li...,[Technology]
4,'Daily Mail' apologizes to George Clooney,[Entertainment]
5,'Game Of Thrones' Actor Is Retiring After Sund...,[Entertainment]
6,'Goonies' director: We're doing a sequel,[Entertainment]
7,'Guardians' blasts Marvel in a different direc...,[Entertainment]
8,'How I Met Your Mother' finale: Here's hoping ...,[Entertainment]
9,'Justice' is served with another helping of Su...,[Entertainment]
10,'Mad Men' all about smart women,[Entertainment]
11,'Mad Men' season opener recap: Don Draper isn'...,[Entertainment]
12,'Modern Family' wins Emmy for best comedy series,[Entertainment]
13,'Reading Rainbow' gets hand from Seth MacFarlane,[Entertainment]
14,'Rolf Harris put hands in my pants',[Entertainment]
15,'Scandal' star Columbus Short arrested for pub...,[Entertainment]
16,"'The Voice' Recap: Battle Rounds Begin, And It...",[Entertainment]
17,"'The Voice' recap: Kat Perkins electrifies, tw...",[Entertainment]
18,'The Walking Dead' Season 4 Finale Sets Rating...,[Entertainment]
19,'Transformers' could earn record China box office,[Entertainment]
20,'Young' blood injections help aging mice get s...,[Medical]
21,"(LR) Judd Apatow, Elliot Rodger and Seth Rogen...",[Entertainment]
22,(click the phrases to see a list),"[Entertainment, Business, Medical, Technology]"
23,10 Things You Need To Know Before The Opening ...,[Business]
24,10 Things to Know for Today,"[Entertainment, Business, Medical]"
25,22 Jump Street,[Entertainment]
26,23 Awesome Photos Of Musicians Performing At C...,[Entertainment]
27,3rd MERS American Victim from Illinois,[Medical]
28,5 things you need to know Monday,"[Technology, Medical]"
29,A laptop with trade-offs,[Technology]
...,...,...
390,US consumer spending up modest 0.3 percent,"[Medical, Business]"
391,"US existing home sales fall, hit 18-month low",[Business]
392,US jobless claims near seven-year low,[Business]
393,US stocks edge lower in early trading,[Business]
394,Update on the latest in business:,"[Business, Technology]"
395,Update: Star Wars actor Harrison Ford taken to...,[Entertainment]
396,"Updates, advisories and surprises",[Business]
397,Video of the Day: Space station crew ready for...,[Technology]
398,"Visionary or looney? After acquiring Oculus, s...",[Technology]
399,Visionary or looney? Zuckerberg on spending spree,[Technology]
400,WHO declares polio 'public health emergency',[Medical]
401,Wait — dinosaurs weren't cold-blooded?,[Technology]
402,Wall St opens lower after JPMorgan results,[Business]
403,Wall Street Breakfast: Must-Know News,[Business]
404,Watch Wars: Apple Snags Tag Heuer VP of Sales ...,[Technology]
405,Welcome to the new 10News.com,"[Medical, Technology, Business]"
406,West Antarctic ice sheet collapse 'unstoppable...,[Technology]
407,What celebrity divorces tell us about 'having ...,[Entertainment]
408,What you need to know before markets open,[Business]
409,White House pushes climate change solutions th...,[Business]
410,Why Google Buying Twitch Is An Unsettling Thought,[Technology]
411,Why Is Johnny Depp Wearing a 'Chick's' Diamond...,[Entertainment]
412,Windows 8 banned from government computers,[Technology]
413,World's largest water reservoir found deep in ...,[Technology]
414,Written by Press Release,"[Business, Technology]"
415,"Yahoo: Focus on Alibaba, display business","[Technology, Business]"
416,Yellen says Fed examining additional bank rules,[Business]
417,"Yellen, Plosser offer contrasting visions of F...",[Business]
418,need2know: Flat local open ahead,[Business]
419,복사 URL 줄이기 레이어 닫기,[Entertainment]

In [15]:
# Check if there is any duplicated 'News Title' have multiple 'Category' -> indicating label inconsistency / ambiguity
duplicated_news_title_with_multiple_category_df = duplicated_news_title_with_category_df[duplicated_news_title_with_category_df['Category'].str.len() > 1]
duplicated_news_title_with_multiple_category_df

,News Title,Category
22,(click the phrases to see a list),"[Entertainment, Business, Medical, Technology]"
24,10 Things to Know for Today,"[Entertainment, Business, Medical]"
28,5 things you need to know Monday,"[Technology, Medical]"
31,AP News in Brief at 5:58 am EDT,"[Business, Medical]"
37,Amazon escalates standoff with publisher Hachette,"[Entertainment, Business]"
39,Amazon snares classic shows in deal with HBO,"[Business, Entertainment]"
62,Breaking news,"[Business, Technology]"
64,Briefcase,"[Business, Technology]"
67,Business Highlights,"[Technology, Business]"
69,Business Wire,"[Technology, Business]"
70,Business briefs,"[Business, Technology]"
71,Business in brief,"[Technology, Business]"
74,Canada Revenue Agency pushes tax deadline to M...,"[Technology, Business]"
84,Change text size for the story,"[Entertainment, Business]"
86,China's Alibaba files for IPO in US,"[Business, Technology]"
96,Credit: Getty Images,"[Technology, Entertainment]"
122,FDA Green Lights Intuitive Surgical's New Robo...,"[Business, Medical]"
139,From ColumbusAlive.com,"[Technology, Business]"
143,GM recalls 824000 more cars over ignition problem,"[Technology, Business]"
146,Gas Prices Continue to Drop,"[Business, Technology]"
160,"Google launches same-day delivery in NY, LA","[Technology, Business]"
176,Hollywood Playbook: Friday's Top 5 News Items,"[Technology, Entertainment]"
202,Judgment Day: Yahoo CEO Marissa Mayer faces ke...,"[Technology, Business]"
207,Key overseas finance markers,"[Business, Entertainment]"
236,Microsoft may release selfie-friendly Nokia 'S...,"[Business, Technology]"
237,Microsoft rolls out Office for iPad,"[Technology, Business]"
248,Most Popular Stories,"[Business, Technology]"
257,NYT publisher again defends removal of Abramson,"[Business, Entertainment]"
259,"Nasdaq 100 Movers: CHRW, ISRG","[Business, Medical]"
267,News briefs from around Kentucky at 1:58 a.m. EDT,"[Entertainment, Medical]"
271,Nokia sees sales drop due to phones unit sold ...,"[Business, Technology]"
275,"Oil price rises on Nigeria supply woes, US growth","[Medical, Business]"
277,Olympic champ Hanyu wins world figure skate title,"[Medical, Business]"
280,On topic: Tech news to know now,"[Business, Technology]"
287,PR Newswire,"[Technology, Business]"
290,Pet food retailer PetSmart says it will stop s...,"[Business, Medical]"
318,Saudi Arabia reports 2 more deaths from MERS v...,"[Business, Medical]"
322,Sector Update: Consumer,"[Business, Technology]"
324,Share this on:,"[Entertainment, Medical, Business]"
341,Storm Shield is a life-saving app that is like...,"[Technology, Business]"
351,Teams quarantine victims in Guinea Ebola outbreak,"[Business, Medical]"
381,Twitter's (TWTR) CEO Dick Costolo on Q2 2014 R...,"[Business, Technology]"
383,UPDATE 1-New York Times publisher denies sexis...,"[Entertainment, Business]"
390,US consumer spending up modest 0.3 percent,"[Medical, Business]"
394,Update on the latest in business:,"[Business, Technology]"
405,Welcome to the new 10News.com,"[Medical, Technology, Business]"
414,Written by Press Release,"[Business, Technology]"
415,"Yahoo: Focus on Alibaba, display business","[Technology, Business]"

In [16]:
# Remove those duplicated news title which have multiple categories (assuming the case for single label classification)
processed_df = processed_df[~processed_df['News Title'].isin(duplicated_news_title_with_multiple_category_df['News Title'])]
processed_df.sort_values(by='News Title')

,News Title,Category,num_Category
No,,,
58784,#AmazonBasket offers UK customers the chance t...,Business,0
64931,#AskJeffTech | Windows XP questions answered,Technology,3
64304,#AskThicke: Robin Thicke Trend Gets Trolled BI...,Entertainment,1
43001,#BBCtrending: Texas teen in Facebook safari sh...,Entertainment,1
49407,#CancelColbert Trending on Twitter After Comed...,Entertainment,1
3022,#CancelColbert trending after 'Colbert Report'...,Entertainment,1
62255,#CancelColbert: Stephen Colbert under fire ove...,Entertainment,1
29870,#CancelColbert: Stephen Colbert's Contextless ...,Entertainment,1
6999,#CancelColbert? Beyond Dichotomies,Entertainment,1
9390,#CancelColbert? He's game,Entertainment,1
39911,#Ebola outbreak spreads to Sierra Leone,Medical,2
9028,#FAIL: Bieber getting Instagram revenge on Orl...,Entertainment,1
17696,#FCA5: Marchionne Unveils 5-Year Plan for Fiat...,Business,0
15273,#FreeTheNipple: Scout Willis Launches Topless ...,Entertainment,1
6204,#GlobalSelfie: NASA puts selfie to good use fo...,Technology,3
2395,#ICYMI: Gwyneth Paltrow and Chris Martin End M...,Entertainment,1
61914,#ICYMI: Jessica Simpson Weds Football Beau Eri...,Entertainment,1
53241,#ICYMI: Ryan Lewis Reveals Mother is HIV Posit...,Medical,2
3493,#ICYMI: Willow Smith Lies in Bed with Shirtles...,Entertainment,1
38548,#INDYTODAY | Things to do this Friday & weekend,Entertainment,1
44402,#Overkill? #AmazonCart Lets You Shop from Twitter,Business,0
61595,"#PreMarket Primer: Tuesday, June 3: Bidding On...",Business,0
35482,"#PreMarket Primer: Wednesday, April 23: Data F...",Business,0
33353,#TeamCotton: White Google Glass Sells Out in O...,Technology,3
22377,"#eBay, #ForceForChange, Teen stuns crowd with ...",Entertainment,1
13304,$1 billion BMW plant in Mexico officially conf...,Business,0
12950,$1 million deal for book on Lindsay Lohan's re...,Entertainment,1
40431,$1.2B fine to settle probe delivers relief for...,Technology,3
16882,$10 Now Gets You Unlimited Reading on Your Kindle,Technology,3
60324,"$10 Potato Salad Kickstarter Goes Viral, Raise...",Entertainment,1
...,...,...,...
61416,“Spider-Man 2”: Somewhat Tangled,Entertainment,1
46558,"“Stephen Colbert” is dead, long live Stephen C...",Entertainment,1
1037,“Teenage Mutant Ninja Turtles” Trailer: Don't ...,Entertainment,1
7783,"“That's all, folks” as Google Glass sells out ...",Technology,3
25283,“The Hunger Games: Mockingjay – Part 1” First ...,Entertainment,1
55423,“The Leftovers” reveals the limits of concept-...,Entertainment,1
62525,"“The Other Woman,” “Brick Mansions” and “The Q...",Entertainment,1
42798,“The Voice” Recap – Shakira is En Fuego on Sta...,Entertainment,1
39707,“The Voice” Recap: Usher Gets 'Brave' With His...,Entertainment,1
22819,“The state made a mistake:” Gov. Walker's refu...,Medical,2
40470,“The war is not over” Watch a final trailer fo...,Entertainment,1
33843,“Transformers” Smashes Box Office Records,Entertainment,1
37243,“Ununseptium”- Periodic Table's 117th Element,Technology,3
26484,“Virus Shield” app on Android Play Store is a ...,Technology,3
24824,“Weird Al” Yankovic “Word Crimes”,Entertainment,1
56266,“Weird Al” Yankovic's Devo parody is more Devo...,Entertainment,1
28792,“Weird Al” Yankovic's “Word Crimes”: Watch,Entertainment,1
61493,“Weird” Al Yankovic parodies Pharrell's “Happy...,Entertainment,1
12392,“Winter Is Here”: Awesome Collection Of 'Game ...,Entertainment,1
30543,“Winter is coming”: George RR Martin does ALS ...,Entertainment,1
48090,"“X-Men: Days of Future Past” crosstalk, Kotzen...",Entertainment,1
37971,“X-Men: Days of Future Past” dominates box off...,Entertainment,1
33214,“X-Men” Dominates Box Office With $91 Million,Entertainment,1
37159,“X-Men” director accused of sex abuse,Entertainment,1
53785,"“X-Men” director to miss film launch, slams se...",Entertainment,1
45561,"“You need to shut that black baby up”, Kim Kar...",Entertainment,1
23348,“Young blood” reverses aging in older mice,Medical,2
6980,€1bn wiped from value of Candy Crush company,Business,0
13404,복사 URL 줄이기 레이어 닫기,Entertainment,1
38461,복사 URL 줄이기 레이어 닫기,Entertainment,1

In [190]:
def clean_and_tokenize(sentence):
    # Convert to lowercase and split the sentence into words
    words = sentence.lower().split()
    
    # Complete the punctuations needed to be removed from words
    punctuations = string.punctuation + '“”'
    
    # Remove stopwords from words and any letter in word contains punctuations
    words = [w.translate(w.maketrans('', '', punctuations)) for w in words if (not w in stops)]
    
    # Check for stopwords again, get only alphaberts and convert into stem words
    words = [ps.stem(w) for w in words if (not w in stops) and w.isalpha()]
    
    return words

In [191]:
clean_and_tokenize('“Young blood” reverses aging in older mice')

['young', 'blood', 'revers', 'age', 'older', 'mice']

In [194]:
processed_df['tokenized_Title'] = processed_df['News Title'].apply(lambda title: clean_and_tokenize(title))
processed_df.sort_values(by='News Title')

,News Title,Category,num_Category,tokenized_Title
No,,,,
58784,#AmazonBasket offers UK customers the chance t...,Business,0,"[amazonbasket, offer, uk, custom, chanc, shop,..."
64931,#AskJeffTech | Windows XP questions answered,Technology,3,"[askjefftech, window, xp, question, answer]"
64304,#AskThicke: Robin Thicke Trend Gets Trolled BI...,Entertainment,1,"[askthick, robin, thick, trend, get, troll, bi..."
43001,#BBCtrending: Texas teen in Facebook safari sh...,Entertainment,1,"[bbctrend, texa, teen, facebook, safari, showd..."
49407,#CancelColbert Trending on Twitter After Comed...,Entertainment,1,"[cancelcolbert, trend, twitter, comedi, centra..."
3022,#CancelColbert trending after 'Colbert Report'...,Entertainment,1,"[cancelcolbert, trend, colbert, report, tweet,..."
62255,#CancelColbert: Stephen Colbert under fire ove...,Entertainment,1,"[cancelcolbert, stephen, colbert, fire, racist..."
29870,#CancelColbert: Stephen Colbert's Contextless ...,Entertainment,1,"[cancelcolbert, stephen, colbert, contextless,..."
6999,#CancelColbert? Beyond Dichotomies,Entertainment,1,"[cancelcolbert, beyond, dichotomi]"
9390,#CancelColbert? He's game,Entertainment,1,"[cancelcolbert, he, game]"
39911,#Ebola outbreak spreads to Sierra Leone,Medical,2,"[ebola, outbreak, spread, sierra, leon]"
9028,#FAIL: Bieber getting Instagram revenge on Orl...,Entertainment,1,"[fail, bieber, get, instagram, reveng, orlando..."
17696,#FCA5: Marchionne Unveils 5-Year Plan for Fiat...,Business,0,"[marchionn, unveil, plan, fiat, chrysler, brand]"
15273,#FreeTheNipple: Scout Willis Launches Topless ...,Entertainment,1,"[freethenippl, scout, willi, launch, topless, ..."
6204,#GlobalSelfie: NASA puts selfie to good use fo...,Technology,3,"[globalselfi, nasa, put, selfi, good, use, ear..."
2395,#ICYMI: Gwyneth Paltrow and Chris Martin End M...,Entertainment,1,"[icymi, gwyneth, paltrow, chri, martin, end, m..."
61914,#ICYMI: Jessica Simpson Weds Football Beau Eri...,Entertainment,1,"[icymi, jessica, simpson, wed, footbal, beau, ..."
53241,#ICYMI: Ryan Lewis Reveals Mother is HIV Posit...,Medical,2,"[icymi, ryan, lewi, reveal, mother, hiv, posit..."
3493,#ICYMI: Willow Smith Lies in Bed with Shirtles...,Entertainment,1,"[icymi, willow, smith, lie, bed, shirtless, mo..."
38548,#INDYTODAY | Things to do this Friday & weekend,Entertainment,1,"[indytoday, thing, friday, weekend]"
44402,#Overkill? #AmazonCart Lets You Shop from Twitter,Business,0,"[overkil, amazoncart, let, shop, twitter]"
61595,"#PreMarket Primer: Tuesday, June 3: Bidding On...",Business,0,"[premarket, primer, tuesday, june, bid, hillsh..."
35482,"#PreMarket Primer: Wednesday, April 23: Data F...",Business,0,"[premarket, primer, wednesday, april, data, ch..."
33353,#TeamCotton: White Google Glass Sells Out in O...,Technology,3,"[teamcotton, white, googl, glass, sell, oneday..."
22377,"#eBay, #ForceForChange, Teen stuns crowd with ...",Entertainment,1,"[ebay, forceforchang, teen, stun, crowd, mj, m..."
13304,$1 billion BMW plant in Mexico officially conf...,Business,0,"[billion, bmw, plant, mexico, offici, confirm]"
12950,$1 million deal for book on Lindsay Lohan's re...,Entertainment,1,"[million, deal, book, lindsay, lohan, rehab, d..."
40431,$1.2B fine to settle probe delivers relief for...,Technology,3,"[fine, settl, probe, deliv, relief, toyota]"
16882,$10 Now Gets You Unlimited Reading on Your Kindle,Technology,3,"[get, unlimit, read, kindl]"
60324,"$10 Potato Salad Kickstarter Goes Viral, Raise...",Entertainment,1,"[potato, salad, kickstart, goe, viral, rais, i..."
...,...,...,...,...
61416,“Spider-Man 2”: Somewhat Tangled,Entertainment,1,"[spiderman, somewhat, tangl]"
46558,"“Stephen Colbert” is dead, long live Stephen C...",Entertainment,1,"[stephen, colbert, dead, long, live, stephen, ..."
1037,“Teenage Mutant Ninja Turtles” Trailer: Don't ...,Entertainment,1,"[teenag, mutant, ninja, turtl, trailer, undere..."
7783,"“That's all, folks” as Google Glass sells out ...",Technology,3,"[that, folk, googl, glass, sell, day, one]"
25283,“The Hunger Games: Mockingjay – Part 1” First ...,Entertainment,1,"[hunger, game, mockingjay, part, first, video,..."
55423,“The Leftovers” reveals the limits of concept-...,Entertainment,1,"[leftov, reveal, limit, conceptdriven, tv]"
62525,"“The Other Woman,” “Brick Mansions” and “The Q...",Entertainment,1,"[woman, brick, mansion, quiet, one, open, friday]"
42798,“The Voice” Recap – Shakira is En Fuego on Sta...,Entertainment,1,"[voic, recap, shakira, en, fuego, stage, unluc..."
39707,“The Voice” Recap: Usher Gets 'Brave' With His...,Entertainment,1,"[voic, recap, usher, get, brave, final, steal]"
22819,“The state made a mistake:” Gov. Walker's refu...,Medical,2,"[state, made, mistak, gov, walker, refus, acce..."
40470,“The war is not over” Watch a final trailer fo...,Entertainment,1,"[war, watch, final, trailer, game, throne, ahe..."
33843,“Transformers” Smashes Box Office Records,Entertainment,1,"[transform, smash, box, offic, record]"
37243,“Ununseptium”- Periodic Table's 117th Element,Technology,3,"[ununseptium, period, tabl, element]"
26484,“Virus Shield” app on Android Play Store is a ...,Technology,3,"[viru, shield, app, android, play, store, scam]"
24824,“Weird Al” Yankovic “Word Crimes”,Entertainment,1,"[weird, al, yankov, word, crime]"
56266,“Weird Al” Yankovic's Devo parody is more Devo...,Entertainment,1,"[weird, al, yankov, devo, parodi, devo, real, ..."
28792,“Weird Al” Yankovic's “Word Crimes”: Watch,Entertainment,1,"[weird, al, yankov, word, crime, watch]"
61493,“Weird” Al Yankovic parodies Pharrell's “Happy...,Entertainment,1,"[weird, al, yankov, parodi, pharrel, happi, da..."
12392,“Winter Is Here”: Awesome Collection Of 'Game ...,Entertainment,1,"[winter, awesom, collect, game, throne, artwork]"
30543,“Winter is coming”: George RR Martin does ALS ...,Entertainment,1,"[winter, come, georg, rr, martin, al, ice, buc..."
48090,"“X-Men: Days of Future Past” crosstalk, Kotzen...",Entertainment,1,"[xmen, day, futur, past, crosstalk, kotzen, si..."
37971,“X-Men: Days of Future Past” dominates box off...,Entertainment,1,"[xmen, day, futur, past, domin, box, offic, mi..."
33214,“X-Men” Dominates Box Office With $91 Million,Entertainment,1,"[xmen, domin, box, offic, million]"
37159,“X-Men” director accused of sex abuse,Entertainment,1,"[xmen, director, accus, sex, abus]"
53785,"“X-Men” director to miss film launch, slams se...",Entertainment,1,"[xmen, director, miss, film, launch, slam, sex..."
45561,"“You need to shut that black baby up”, Kim Kar...",Entertainment,1,"[need, shut, black, babi, kim, kardashian, tal..."
23348,“Young blood” reverses aging in older mice,Medical,2,"[young, blood, revers, age, older, mice]"
6980,€1bn wiped from value of Candy Crush company,Business,0,"[wipe, valu, candi, crush, compani]"
13404,복사 URL 줄이기 레이어 닫기,Entertainment,1,"[복사, url, 줄이기, 레이어, 닫기]"
38461,복사 URL 줄이기 레이어 닫기,Entertainment,1,"[복사, url, 줄이기, 레이어, 닫기]"

In [195]:
processed_df.sort_values(by='tokenized_Title')

,News Title,Category,num_Category,tokenized_Title
No,,,,
19906,We are OVER IT!,Entertainment,1,[]
26655,Predicting+the+Palme+d%27Or+a+guessing+game,Entertainment,1,[]
23315,3/29 over coffee::1,Medical,2,[]
27477,Study%3A+US+Alzheimer%27s+rate+seems+to+be+dro...,Medical,2,[]
47799,Heads+up%21+Supermoon+is+here,Technology,3,[]
37340,AA pulls fare listings off of Orbitz sites,Business,0,"[aa, pull, fare, list, orbitz, site]"
35296,AAA: Americans ready to hit road after rough w...,Business,0,"[aaa, american, readi, hit, road, rough, winter]"
34391,AAA: Average gas price in Rhode Island up 4 ce...,Technology,3,"[aaa, averag, ga, price, rhode, island, cent, ..."
14702,AAA estimates 1.6 percent rise in statewide ho...,Business,0,"[aaa, estim, percent, rise, statewid, holiday,..."
10223,AAA expects more long-distance NJ travelers wi...,Technology,3,"[aaa, expect, longdist, nj, travel, hit, road,..."
1924,AAA expects 2.1M New Englanders to travel this...,Technology,3,"[aaa, expect, new, england, travel, weekend]"
60745,AAA: Expect to pay more this July,Business,0,"[aaa, expect, pay, juli]"
30418,AAA forecasting heavy Memorial Day travel volume,Business,0,"[aaa, forecast, heavi, memori, day, travel, vo..."
22267,AAA forecasts most July 4 travel since 2007,Business,0,"[aaa, forecast, juli, travel, sinc]"
23447,AAA's Fourth of July travel forecast contains ...,Business,0,"[aaa, fourth, juli, travel, forecast, contain,..."
57055,AAA: Fourth travel will be up this year,Business,0,"[aaa, fourth, travel, year]"
31601,AAA: Gas highest price for early summer since ...,Technology,3,"[aaa, ga, highest, price, earli, summer, sinc]"
45952,AAA: Gas prices continue to rise,Technology,3,"[aaa, ga, price, continu, rise]"
40613,AAA: Gas Prices Drop in Many Areas Before the ...,Business,0,"[aaa, ga, price, drop, mani, area, holiday]"
323,AAA: Gas prices fall to lowest level in four m...,Technology,3,"[aaa, ga, price, fall, lowest, level, four, mo..."
57725,AAA: High gas prices won't keep motorists off ...,Business,0,"[aaa, high, ga, price, keep, motorist, road]"
2400,AAA: Independence Day gas prices likely to be ...,Business,0,"[aaa, independ, day, ga, price, like, highest,..."
557,AAA: Iraq civil war pushing up gas prices in M...,Technology,3,"[aaa, iraq, civil, war, push, ga, price, maryl..."
29828,AAA: July 4 gas prices highest in six years,Business,0,"[aaa, juli, ga, price, highest, six, year]"
53869,AAA: Maryland drivers paying $3.63 per gallon,Technology,3,"[aaa, maryland, driver, pay, per, gallon]"
42837,AAA: Memorial Day Busiest Travel Since Recession,Business,0,"[aaa, memori, day, busiest, travel, sinc, recess]"
60507,AAA Mich.: Gas prices fall 1 cent over past week,Technology,3,"[aaa, mich, ga, price, fall, cent, past, week]"
5595,AAA Mich.: Gas prices rise 5 cents over past week,Technology,3,"[aaa, mich, ga, price, rise, cent, past, week]"
11728,AAA Mich.:Gas Prices Rise 6 Cents Over Past Week,Technology,3,"[aaa, michga, price, rise, cent, past, week]"
36921,AAA: Michigan gas prices fall 11 cents over pa...,Business,0,"[aaa, michigan, ga, price, fall, cent, past, w..."
...,...,...,...,...
48151,Zonkey Born in Mexico Zoo,Technology,3,"[zonkey, born, mexico, zoo]"
62941,Zooey Deschanel Simply Stuns At The Met Gala!,Entertainment,1,"[zooey, deschanel, simpli, stun, met, gala]"
15130,Zoologger: Octopus mum broods for record-break...,Technology,3,"[zoologg, octopu, mum, brood, recordbreak, time]"
51500,Zoosk Files Plans to Raise $100 Million in IPO,Business,0,"[zoosk, file, plan, rais, million, ipo]"
4282,ZTE Open C Firefox OS phone sold on eBay befor...,Technology,3,"[zte, open, c, firefox, os, phone, sold, ebay,..."
55197,Zucker punched: Google gobbles Facebook-wooed ...,Technology,3,"[zucker, punch, googl, gobbl, facebookwoo, tit..."
64611,Zuckerberg Asked to Testify in Iran,Technology,3,"[zuckerberg, ask, testifi, iran]"
32417,Does Zuckerberg Expect Facebook Stock to Drop?,Technology,3,"[zuckerberg, expect, facebook, stock, drop]"
53990,Zuckerberg: Facebook only spends big on 'rare'...,Technology,3,"[zuckerberg, facebook, spend, big, rare, compani]"
25841,Zuckerberg gains from stock options,Business,0,"[zuckerberg, gain, stock, option]"
19558,"Zuckerberg, Musk and Fake Steve Jobs invest in...",Technology,3,"[zuckerberg, musk, fake, steve, job, invest, s..."
37191,Zuckerberg and Musk invest in brain-building A...,Technology,3,"[zuckerberg, musk, invest, brainbuild, ai, firm]"
19163,Is Zuckerberg Nuts To Spend $2B on Oculus VR?,Technology,3,"[zuckerberg, nut, spend, oculu, vr]"
42122,Is Zuckerberg Nuts To Spend $2B on Oculus VR?,Technology,3,"[zuckerberg, nut, spend, oculu, vr]"
47573,Zuckerberg's 2013 Salary: $1,Business,0,"[zuckerberg, salari]"
30515,Zuckerberg talks about Facebook's 'failures',Technology,3,"[zuckerberg, talk, facebook, failur]"
41532,Why Zuckerberg Wants To Dismantle Facebook And...,Technology,3,"[zuckerberg, want, dismantl, facebook, angi, l..."
479,"Zuckerberg Wants To Fill The Sky With 'Drones,...",Technology,3,"[zuckerberg, want, fill, sky, drone, satellit,..."
62728,Zuckerberg: the Warren Buffett of technology?,Technology,3,"[zuckerberg, warren, buffett, technolog]"
59043,"Zuckerberg Out, Weiner In For Glassdoor Survey...",Business,0,"[zuckerberg, weiner, glassdoor, survey, top, ceo]"
48266,Why Zulia doesn't mean checkmate,Business,0,"[zulia, mean, checkmat]"
32294,Why Zynga Will Crush 'Candy Crush Saga's' King...,Business,0,"[zynga, crush, candi, crush, saga, king, digit]"
44287,Zynga Goes Back To Basics With FarmVille 2: Co...,Technology,3,"[zynga, goe, back, basic, farmvil, countri, es..."
59445,"Zynga Inc To Have In-Line Q2, Suggests iOS Ana...",Business,0,"[zynga, inc, inlin, suggest, io, analysi]"
25726,Zynga Lures Best Buy's Lee to CFO Job Adding t...,Business,0,"[zynga, lure, best, buy, lee, cfo, job, ad, re..."
50839,"Zynga names Lee as CFO, chief accounting officer",Business,0,"[zynga, name, lee, cfo, chief, account, offic]"
12072,Zynga names retail vet Lee as CFO,Business,0,"[zynga, name, retail, vet, lee, cfo]"
42657,Zynga seeks new harvest with mobile FarmVille ...,Technology,3,"[zynga, seek, new, harvest, mobil, farmvil, game]"
13404,복사 URL 줄이기 레이어 닫기,Entertainment,1,"[복사, url, 줄이기, 레이어, 닫기]"
38461,복사 URL 줄이기 레이어 닫기,Entertainment,1,"[복사, url, 줄이기, 레이어, 닫기]"

In [ ]:
# def translate(word):
#     translator = Translator()
#     return translator.translate(word)

In [ ]:
# translate('복사 URL 줄이기 레이어 닫기').text

In [ ]:
# translated_news_title = []
# n_processed_df = len(processed_df)
# n_batch = 1000
# for i in range(0, n_processed_df, n_batch):
#     print('Processing data: ', i+1, '-', i+n_batch)
#     batched_translated_news_title = translate(list(processed_df['News Title'])[i:i+n_batch])
#     translated_news_title = translated_news_title + [news_title.text for news_title in batched_translated_news_title]
#     print('Finish processing data: ', i+1, '-', i+n_batch)
#     time.sleep(5)
    
# print(translated_news_title)

In [ ]:
# from langdetect import detect
# qqq = processed_df['News Title'].tolist()
# asdf = [detect(x) for x in qqq]
# # asdf